
#aboutCon {
	background-color: #7ebbb4;
}

#about-title {
	color: white;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

#about-desc {
	color: white;
	font-size: 1.125em;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
}

button {
	background-color: #eed1a1;
	width: 200px;
	height: 75px;
	margin: 0 auto;
	display: block;
	color: white;
	font-size: 21px;
}
