
body {
	background-color: #f7f7f7 !important;
}

.work-wrapper {
	padding: 15px;
}

#title-con {
	// top: 25%;
	// transform: translateY(-25%);
	// position: absolute;
	width: 100%;
	text-align: center;
	padding-top: 25%;

		@media screen and (min-width: $break-desktop) {
			padding-top: 10%;
		}

	h1 {

		@media screen and (min-width: $break-tablet) {
			font-size: 2em !important;
			margin-bottom: 0;
			padding-bottom: 15px;
		}

		@media screen and (min-width: $break-desktop) {
			font-size: 2.5em !important;
			// padding-top: 5%;
		}
	}

	h2 {
		color: #738d89 !important;

		@media screen and (min-width: $break-tablet) {
			font-size: 1.3em !important;
		}
	}

	@media screen and (min-width: $break-tablet) {
		padding-top: 15%;	
	}

	@media screen and (min-width: $break-desktop) {
		padding-top: 10%;
	}
}

.mockup-image {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;

	@media screen and (min-width: $break-tablet) {
		width: 60%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	@media screen and (min-width: $break-desktop) {
		width: 45%;
	}
}

.desc {

	@media screen and (min-width: $break-tablet) {
		max-width: 60%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	@media screen and (min-width: $break-desktop) {
		max-width: 45%;
	}

}

.title {

	@media screen and (min-width: $break-tablet) {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: 60%;
	}

	@media screen and (min-width: $break-desktop) {
		max-width: 45%;
	}
}