
#workCon {
	background-color: #f7f7f7;
	display: inline-block;
	padding-bottom: 30px;
}

.work-mock {
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;

	@media screen and (min-width: $break-tablet) {
		display: inline-block;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
		padding-top: 30px;
	}
}

.work-title {
	text-align: center;
	color: white !important;
	padding-bottom: 30px;
	cursor: pointer;

	@media screen and (min-width: $break-tablet) {
		// display: none;
		opacity: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.work-con:nth-child(even) {
	// float: left;
	// margin-left: 30px;
}

.work-con:nth-child(odd) {
	clear: both;
	float: left;
	// position: relative;
	// left: 50%;
	// transform: translateX(-50%);
	// margin-right: 30px;
	// float: right;	
}

#work-wrapper {
	// position: absolute;
	padding-bottom: 30px;
}

.work-con {
	// display: inline-block;

	@media screen and (min-width: $break-tablet) {
	position: relative;
	left: 30%;
	transform: translateX(-50%);
	padding-bottom: 30px;
	}
}

#reactr-overlay {
	display: inline-block;
}

#reactrWork {
	background: -webkit-linear-gradient(#34a287, #83cba3, #34a287);
	display: inline-block;
	position: relative;
	transition: .5s ease;

	@media screen and (min-width: $break-tablet) {
		cursor: pointer;
		width: 40%;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		opacity: 0;
		transition: .5s ease;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0+0,1+50,0+100 */
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}
}

#reactrWork:hover {
	@media screen and (min-width: $break-tablet) {

		&::before {
			opacity: 0.5;
		}

		.work-title {
			// display: inline-block;
			// padding-bottom: 0;
			opacity: 1;
			z-index: 5;
			// color: red;
		}
	}
}

#lotrWork {
	background: -webkit-linear-gradient(#edbd5a, #f9df73, #edbd5a);
	display: inline-block;

	@media screen and (min-width: $break-tablet) {
		width: 40%;
	}
}

#sleepWork {
	background: -webkit-linear-gradient(#fd6c95, #ffa6d2, #fd6c95);
	display: inline-block;

	@media screen and (min-width: $break-tablet) {
		width: 40%;
	}
}

#agencyWork {
	background: -webkit-linear-gradient(#5f71fe, #65b0f0, #5f71fe);
	display: inline-block;

	@media screen and (min-width: $break-tablet) {
		width: 40%;
	}
}