
.work-mock {
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.work-title {
	font-size: 3em;
	text-align: center;
	color: white;
	padding-bottom: 40px;
}

#reactrWork {
	background: -webkit-linear-gradient(#34a287, #83cba3, #34a287);
}

#lotrWork {
	background: -webkit-linear-gradient(#edbd5a, #f9df73, #edbd5a);
}

#sleepWork {
	background: -webkit-linear-gradient(#c64c6e, #d57785, #c64c6e);
}

#agencyWork {
	background: -webkit-linear-gradient(#611d9e, #725f9e, #611d9e);
}