
h1 {
	font-family: 'Avenir';
	font-size: 1.500em !important;
	color: #e8b157 !important;
}

h2 {
	font-family: 'Avenir';
	font-size: 1.313em !important;
	color: #e8b157 !important;
}

p {
	font-family: 'Avenir';
	font-size: 1.125em !important;
	color: #e8b157;
	margin-bottom: 0 !important;
}